h1 {
  font-size:42px;
}

h2 {
  font-size:24px;
  line-height:28px;
}

hr {
  margin:10px;
}

ul {
  list-style-type:none;
  margin:10px;
}

.content {
  width:320px;
  height:320px;
  margin:0 auto;
}

.centered {
  text-align:center;
}
 